body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.body {
    width: 900px;
    margin: 0 auto;
}

.header-section {
    background-color: #c4996c;
    height: 120px;
}

.company-img {
    background-color: #a8a9ad;
    height: 400px;
    margin-top: 20px;
}

.footer-section {
    background-color: #115d7f;
    margin-top: 50px;
}

p {
    color: white;
}

.box {
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: #a8a9ad;
}

h1 {
    font-weight: normal;
}

.name {
    text-align: center;
}

.box.item {
    width: 180px;
    height: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item-grid {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    column-gap: 130px;
    row-gap: 50px;
    width: 800px;
    margin: auto;
}

.test1 {
    background-color: black;
}

