
/* ID */
body {
  width: 100vw;
}

#section_normal_1 .alpha {
  float: left;
}

#section_normal_1 .omega {
  float: right;
}

#section_normal_1 .header_style.pix_builder_bg {
  height: 80px;
  border-bottom: 3px solid #d9d9d9;
}

#section_normal_1 .column {
  margin-top: 20px;
}

#section_normal_1 .htext_style {
  float: left;
  margin-top: 10px;
  margin-right: 15px;
  color: #b0b0b0;
}

#section_normal_1 .social_button img {
  width: 40px;
  height: 40px;
}

#section_normal_4_2.dark.pix_builder_bg {
  background-color: #333333;
  width: 100%;
}

#section_normal_4_2 .sixteen {
  height: 670px;
  position: relative;
  box-sizing: border-box;
  padding-top: 85px;
}

#section_normal_4_2 .alpha {
  position: absolute;
  left: 0;
  margin-right: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px 5px #222);
}

#section_normal_4_2 .omega {
  position: absolute;
  width: 580px;
  right: 0;
}

#section_normal_4_2 .bold_text.big_text.blue_text.editContent {
  color: #2dc0e8;
  font-weight: bold;
  font-size: 25px;
}

#section_normal_4_2 .big_title.bold_text.editContent {
  margin-top: 28px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

#section_normal_4_2 .normal_text.light_gray.editContent {
  color: #8c8c8c;
  margin-top: 33px;
  line-height: 25px;
  font-size: 19px;
}

#section_normal_4_2 .pix_button.btn_normal.pix_button_flat.blue_bg.bold_text {
  width: 180px;
  height: 60px;
  background-color: #2dc0e8;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px #249aba;
  margin-top: 32px;
  color: white;
  text-decoration: none;
}

#section_normal_4_2 .inside-button {
  position: absolute;
  top: 38%;
  left: 10%;
}

#section_normal_4_2 .pix_button.btn_normal.pix_button_flat.blue_bg.bold_text span {
  font-weight: bold;
  letter-spacing: 1px;
  
}

#section_normal_4_2 .pix_button.btn_normal.pix_button_flat.blue_bg.bold_text .fa-regular.fa-eye {
  margin-right: 9px;  
}

#section_normal_6 .envato_unbounce.pix_builder_bg {
  background-color: #eeeeee;
  height: 390px;
  border-bottom: 3px solid #e2e2e2;
}

#section_normal_6 .L1_style {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #6a6a6a;
  padding-top: 50px;
}

#section_normal_6 .L2_style {
  text-align: center;
  color: #b3b3b3;
  padding-top: 20px;
  margin-bottom: 65px;
}


#section_normal_6 .eight.columns.stbox {
  width: 580px;
  height: 145px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #dddddd;
}

#section_normal_6 .eight.columns.stbox.alpha {
  float: left;
}


#section_normal_6 .eight.columns.stbox.omega {
  float: right;
}

#section_normal_6 .pix_builder_bg {
  height: 100%;
  position: relative;
}

#section_normal_6 .b_style {
  height: 100%;
  width: 115px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
}

#section_normal_6 .txt_style {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 465px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_normal_6 .editContent {
  width: 415px;
  color: #8c8c8c;
  line-height: 30px;
  margin-bottom: 15px;
}

#section_normal_6 .stars_span {
  height: 25px;
  display: flex;
}

#section_normal_6 .txt_container {
  width: 415px;
  height: auto;
}

#section_normal_6 .env_st.editContent  {
  color: #2dc0e8;
}

#section_normal_6 .logo_style {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 23%;
  left: 15%;

}

#section_agency_5 .foot_st.pix_builder_bg {
  background-color: #ffffff;
  height: 565px;
}

#section_agency_5 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_agency_5 .editContent {
  display: inline-block;
}

#section_agency_5 .sixteen.columns.center_text {
  text-align: center;
}

#section_agency_5 .f1_style .editContent {
  color: #5c9b69;
  font-size: 30px;
  margin-top: 80px;
}

#section_agency_5 .f2_style .editContent {
  width: 666px;
  color: #b6b6b6;
  margin-top: 40px;
}

#section_agency_5 .f2_style .editContent .pix_text {
  line-height: 25px;
  font-size: 18px;
}

#section_agency_5 .second_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_agency_5 .get_2_btn {
  width: 315px;
  height: 80px;
  border: 3px solid #5b9a68;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 45px;
}

#section_agency_5 .slow_fade {
  text-decoration: none;
  color: #5b9a68;
  font-weight: bold;
  font-size: 25px;
}

#section_agency_5 .rights_st {
  margin-top: 55px;
}

#section_agency_5 .rights_st .pix_text {
  color: #b7b7b7;
}

#section_agency_5 .editContent {
  margin-top: 15px;
}

#section_agency_5 .editContent .rights_st {
  color: #b7b7b7;
}

#section_agency_5 .editContent .pixfort_st {
  color: #629f6f;
  font-weight: bold;
}

#section_agency_5 .center_btn.center_text.pix_inline_block {
  margin-top: 40px;
}

#section_agency_5 .center_btn.center_text.pix_inline_block .slow_fade.social_button img{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/* Class */
.container {
  width: 1180px;
  margin: auto;

}